@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
